<footer>
  <p mt-8 text-xs op-70>
    <span pr-1>欢迎关注</span>
    <a
      b-slate-link
      href="https://www.clock8863.com" target="_blank"
    >
      王帅哥
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/clock8863" target="_blank"
    >
      源码
    </a>
  </p>
</footer>
